:root{
    --footer_bg_color: #00dd80;
}
html {
    direction: rtl;
  }
  body {
    color: white;
  }
  header, main {
    padding: 15px;
  }
.footer {
    background-color: var(--footer_bg_color);
    padding: 15px;
  }
  .footer .important-links {
    padding: 0px 25%;
    text-align: center;
  }
  .footer .contact-us {
    padding: 10px 25%;
  }
  .footer .contact-us a {
    text-decoration: none;
  }
  .footer .contact-us img {
    display: inline;
    width: 32px;
    height: 32px;
  }
  .footer .copy-wright * {
    display: inline; 
  }
  .footer .copy-wright span {
    color: var(--copy_wright_color);
  }