:root {
  --footer_bg_color: #00dd80;
}
html {
  direction: rtl;
}
body {
  color: white;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center!important;
}
header,
main {
  padding: 15px;
}
.services {
  margin-bottom: 10px;
}
.service {
  background-color: turquoise;
  width: 98%;
  height: 300px;
  margin: 10px 1%;
  padding: 15px;
  display: flex;
  flex-direction: column;
}
.service i {
  font-size: 100px;
  align-self: center;
}
.service a {
  background-color: green;
  color: white;
  width: 98%;
  margin: 1%;
  text-decoration: none;
  text-align: center;
  border-radius: 10%;
  align-tracks:initial;
}
.footer {
  background-color: var(--footer_bg_color);
  padding: 15px;
}
.footer .important-links {
  padding: 0px 25%;
  text-align: center;
}
.footer .contact-us {
  padding: 10px 25%;
}
.footer .contact-us a {
  text-decoration: none;
}
.footer .contact-us img {
  display: inline;
  width: 32px;
  height: 32px;
}
.footer .copy-wright * {
  display: inline;
}
.footer .copy-wright span {
  color: var(--copy_wright_color);
}
